@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    --title-color: #cb4b16;
    --comment-color: #586e75;
    --main-text-color: #839496;
    --link-unvisited-color:#268bd2;
    --link-visited-color: #d33682;
    --link-hover-color: #93a1a1;
    --selection-color: #073642;
    --emphasized-color: #93a1a1;
    --lifted-color: #073642;
    --background-color: #002b36;
    --highlight-color: #859900;
    --yellow:#b58900;
    --magenta: #d33682;
}

::selection {
    background: var(--selection-color);
}

html {
    color: var(--main-text-color);
    font-family: "Source Code Pro", "monospace";
}

body {
    background-color: var(--background-color);
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    background-color: var(--background-color);
    max-width: 900px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 32px;
}

#main-title {
    margin-top: 32px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 100px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    color: var(--emphasized-color);
}

/* Animation adapted from the one provided by Geoff Graham 
   on css-tricks.com/snippets/css/typewriter-effect */
.cursor-blinker {
    border-right: .6em solid;
    animation: caret 1s steps(1) infinite;
    color: var(--emphasized-color);
}

h2, h3 {
    padding-top: 24px;
    font-family: "Roboto Mono", monospace;
    color: var(--comment-color);
}

h3:before {
    content: "// ";
}

h4 {
    color: var(--emphasized-color);
    font-family: "Roboto Mono", monospace;
}

p {
    font-size: 14px;
    line-height: 18px;
    
    color: var(--main-text-color);
}

.tip {
    margin-bottom: 32px;
}

ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

ul li {
    margin-top: 16px;
    padding-left: 32px;
    color: var(--highlight-color);
}

.highlight {
    color: var(--highlight-color);
}

.highlight2 {
    color: var(--title-color);
}

.yellow {
    color: var(--yellow);
}

a:link {
    color: var(--link-unvisited-color);
    background-color: transparent;
    
}

a:visited {
    color: var(--link-visited-color);
    background-color: transparent;

}

a:hover {
    color: var(--link-hover-color);
    background-color: transparent;
}

#sources-used {
    margin-top: 64px;
}

#kasutatud {
    margin-bottom: 32px;
}

.kas {
    text-decoration: none;
}

.kas:before {
    color: var(--highlight-color);
    content: "#include <";
}

.kas:after {
    color: var(--highlight-color);
    content: ">";
}
